.bo{
    position: absolute;
    left: 38%;
    bottom: 42%;
    
}
.bo a{
    
    position: absolute;
    display: inline-block;
    padding: 20px 10px;
    color: #f8b400;
    letter-spacing: 4px;
    font-size: 20px;
    overflow: hidden;
   padding: 10px 35px;
    margin-bottom: 15px;
   margin-right: 40px;
    margin-left:15px;
    background-color: rgb(253, 243, 218);
    border-radius: 20px;
    text-decoration: none;
  
    
}
.bo a span{
    position: absolute;
    display: block;
}
.bo a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#f8b400);
}
.bo a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}
.bo a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#f8b400);
}
.bo a:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.40s;
}
.bo a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#f8b400);
}
.bo a:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.20s;
}
.bo a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#f8b400);
}
.bo a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.60s;
}